# Composer
/vendor/

# Env files
/app/Config/Envs/*
!/app/Config/Envs/.env.template

# Data
/app/Data/

# setup.sh generated SQL Script files
/utils/add_game.sql
/utils/add_starting_games.sql

# Sitemap
/app/public/sitemap.xml

# Docker container files
/.config/mariadb-root/*
!/.config/mariadb-root/.gitkeep

/.config/webserver-root/*
!/.config/webserver-root/.gitkeep

/.config/vhosts/*
!/.config/vhosts/.gitkeep

/.data/mysql/*
!/.data/mysql/.gitkeep
