# Composer
/vendor/

# Env files
/app/Config/Envs/*
!/app/Config/Envs/.env.template

# Data
/app/Data/

# setup.sh generated SQL Script files
/utils/add_game.sql
/utils/add_starting_games.sql

# Sitemap
/app/public/sitemap.xml
